@mixin circle()
    display: flex
    justify-content: center
    align-items: center
    width: 50px
    height: 50px
    border-radius: 50%
    bottom: 0px
    right: 0px
    color: #fff
    margin-right: 15px
    margin-bottom: 15px
    position: fixed
    opacity: -1
    transition: 0.8s

.scrollCircle
    @include circle()
    background-color: #ee07e2e4
    &:hover
        background-color: #ee07e3
        transform: translateY(5px)

.themeCircle
    @include circle()
    opacity: 1
    border: none
    font-size: 1.5rem
    background-color: #808080bf
    &:hover
        background-color: #808080db
        cursor: pointer

body
    scroll-behavior: smooth
    height: fit-content

@media screen and (max-width: 400px)
    .circle
        width: 40px
        height: 40px
        margin: 10px 10px
        padding: 0
